h1{
    display: block;
    font-size: 25px;
}
.p.card{
    border: solid;
    border-color: blue;
    padding: 30px 15 px;
    border-radius: 5px;
}
.PP{
    display: block;
}
#PP{
    /* padding: 20 px; */
    width: 160px;
    height: 160px;
    border-radius: 60%;
}
